body {
  margin: 0;
  width: 100%; }

.defaultInput, input, button {
  background-color: #70e6ff;
  width: 80%;
  border-radius: 5px;
  border: 3px solid black;
  height: 25px;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 1em; }

button {
  height: 40px;
  margin: 0px 10px; }

.hover:hover {
  cursor: pointer; }

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex; }
  .container .left {
    padding: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #dadfea; }
    .container .left .addNewList {
      display: flex;
      justify-content: space-between; }
    .container .left #lists {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container .left #lists .list {
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
        margin: 5px 0;
        padding: 5px;
        border-radius: 5px;
        border: 3px solid black;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(5, 5, 5, 0.25) 1%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
        width: calc(100% - 26px); }
      .container .left #lists .active {
        background-color: #929292; }
  .container .right {
    padding: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #929292; }
    .container .right #listHeader {
      display: flex;
      justify-content: space-between; }
    .container .right .clearButtons {
      display: flex;
      justify-content: space-around; }
    .container .right #tasks {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container .right #tasks .listName {
        font-size: 3em;
        text-align: center;
        font-weight: bold; }
      .container .right #tasks .task {
        display: flex;
        justify-content: space-between;
        font-size: 2em;
        margin: 10px 0;
        padding: 5px;
        border-radius: 5px;
        border: 3px solid black;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(5, 5, 5, 0.25) 1%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.25) 100%);
        width: calc(100% - 26px); }
